#images{
    display: flex;
    
}
#reservations{
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
}

#reviews{
    display:flex;
    margin-right: 500px;
    margin-top: 50px;
}